*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 20px 15px 0 rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}

.container {
    padding-left: 72px;
    padding-right: 73px;
}


/* Стили хедера */

.navigation a {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: center;
}

.navigation a:hover {
    color: #81b3d2;
}

.navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 56px;
}

.navigation li:first-child {
    margin-right: 147px;
}

.navigation li:nth-child(2) {
    margin-right: auto;
}

.navigation li:nth-child(3) {
    margin-right: 161px;
}

.header img {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}


/* стили главного логотипа */

.main-logo .container:first-child {
    background-color: #ffffff;
    background-image: url(../img/polygon.png), url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: 1203px 59px, 1200px 800px;
    background-position: center 450px, center -83px;
    text-align: center;
    height: 508px;
}

.main-logo .container:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 489px;
    min-height: 217px;
    margin-left: auto;
    margin-right: auto;
}

.main-logo img {
    margin-top: 76px;
}

.main-logo h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: center;
    margin: 0;
    margin-bottom: 26px;
    margin-top: 6px;
    width: 440px;
}

.main-logo p {
    font-size: 14px;
    color: #333333;
    line-height: 1.86;
    text-align: center;
    margin: 0;
}


/* стили причин для посещения Седоны */

.benefits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid-wrapper-top .feature-picture {
    width: 800px;
    min-height: 256px;
    background-image: url(../img/feature-picture.jpg);
    background-size: cover;
}

.grid-wrapper-bottom .feature-picture {
    width: 800px;
    min-height: 256px;
    background-image: url(../img/canyon.jpg);
    background-size: cover;
}

.grid-wrapper-top,
.grid-wrapper-bottom {
    display: flex;
}

.grid-wrapper-top .grid-row,
.grid-wrapper-bottom .grid-row {
    width: 400px;
    padding: 15px;
}


/* стили для настоящего городка и моста дъявола */

.grid-wrapper-top,
.grid-wrapper-bottom {
    background-color: #81b3d2;
    max-width: 1200px;
    min-height: 256px;
    color: #ffffff;
}

.grid-wrapper-bottom {
    flex-direction: row-reverse;
}

.grid-wrapper-top h3,
.grid-wrapper-bottom h3 {
    font-size: 21px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.grid-wrapper-top span,
.grid-wrapper-bottom span {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
}

.grid-wrapper-top span:first-of-type {
    margin-bottom: 22px;
}

.grid-wrapper-top span:last-of-type {
    width: 282px;
}

.grid-wrapper-top h3 {
    width: 122px;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 23px;
    margin-top: -15px;
}

.grid-wrapper-bottom h3 {
    width: 150px;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 22px;
    margin-top: -18px;
}

.grid-wrapper-bottom span:first-of-type {
    margin-bottom: 22px;
}

.grid-wrapper-bottom span:last-of-type {
    width: 303px;
}


/* стили для жилья, еды и сувениров */

.grid-row:nth-child(2),
.grid-row:nth-child(3),
.grid-row:nth-child(4) {
    min-height: 330px;
    width: 400px;
    padding: 15px;
    background-color: #ffffff;
}

.grid-row:nth-child(2) span,
.grid-row:nth-child(4) span,
.grid-row:nth-child(3) span {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
}

.grid-row:nth-child(4) h3,
.grid-row:nth-child(2) h3,
.grid-row:nth-child(3) h3 {
    font-size: 21px;
    line-height: 1;
    text-align: center;
    color: #000000;
    margin: 0;
}

.grid-row:nth-child(2) span {
    width: 255px;
}

.grid-row:nth-child(3) span {
    width: 284px;
}

.grid-row:nth-child(4) span {
    width: 273px;
}

.grid-row:nth-child(2) h3 {
    margin-bottom: 25px;
}

.grid-row:nth-child(3) h3 {
    margin-bottom: 24px;
}

.grid-row:nth-child(4) h3 {
    margin-bottom: 26px;
}

.grid-row:nth-of-type(2) .icon-decorative {
    margin-bottom: 28px;
    margin-top: -25px;
}

.grid-row:nth-of-type(3) .icon-decorative {
    margin-bottom: 29px;
    margin-top: -23px;
}

.grid-row:nth-of-type(4) .icon-decorative {
    margin-bottom: 27px;
    margin-top: -28px;
}

.grid-row:nth-of-type(2) .icon-decorative::before {
    content: url(../img/icon-1.svg);
    width: 75px;
    height: 72px;
}

.grid-row:nth-of-type(3) .icon-decorative::before {
    content: url(../img/icon-3.svg);
    width: 74px;
    height: 70px;
}

.grid-row:nth-of-type(4) .icon-decorative::before {
    content: url(../img/icon-2.svg);
    width: 64px;
    height: 76px;
}


/* стили для преимуществ 3-5 */

.grid-row:nth-child(n+6) {
    background-color: #eeeeee;
    min-height: 256px;
    width: 400px;
    padding: 15px;
}

.grid-row:nth-child(n+6) span {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
}

.grid-row:nth-child(n+6) h3 {
    font-size: 21px;
    line-height: 1;
    text-align: center;
    color: #000000;
    margin: 0;
    width: 100px;
}

.grid-row:nth-child(6) h3 {
    margin-bottom: 24px;
    width: 117px;
    text-align: center;
    margin-top: -13px;
}

.grid-row:nth-child(7) h3 {
    margin-bottom: 24px;
    margin-top: -16px;
}

.grid-row:nth-child(8) h3 {
    margin-bottom: 21px;
    margin-top: -17px;
}

.grid-row:nth-child(6) span:first-of-type {
    margin-bottom: 19px;
}

.grid-row:nth-child(7) span:first-of-type {
    margin-bottom: 19px;
}

.grid-row:nth-child(8) span:first-of-type {
    margin-bottom: 22px;
}

.grid-row:nth-child(6) span:last-of-type {
    width: 208px;
}

.grid-row:nth-child(7) span:last-of-type {
    width: 262px;
}

.grid-row:nth-child(8) span:last-of-type {
    width: 255px;
}


/* стили заголовка и параграфа формы */

.booking>.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 291px;
    min-width: 1200px;
}

.booking h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 23px;
}

.booking p {
    font-size: 14px;
    line-height: 1.71;
    color: #333333;
    text-align: center;
    margin: 0;
    margin-bottom: 49px;
}


/* кнопка для открытия попапа */

.booking .popup-open {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    min-height: 86px;
    padding: 0;
    border: none;
    width: 568px;
    text-align: center;
    padding-top: 31px;
}

.booking .popup-open:hover {
    background-color: #604e43;
}

.booking .popup-open:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.container-popup {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    width: 568px;
    height: 395px;
    padding: 0;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 20px 15px 0 rgba(0, 1, 1, 0.2);
}

.booking .toggle-content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in;
}

.booking .toggle-content.is-visible {
    display: block;
    height: auto;
}


/* анимация неверно заполненной формы */

@keyframes shake {
    0%,
    100% {
        transform: translateX(-50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-51%);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(-49%);
    }
}

.form-error {
    animation: shake 0.6s;
}


/* стили формы на главной */

.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 395px;
    min-width: 568px;
    padding: 55px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-group label {
    color: #000000;
    font-size: 14px;
    line-height: 1.86;
    font-weight: bold;
    text-align: left;
    margin-right: 21px;
}

.form-group:nth-of-type(1) {
    margin-bottom: 29px;
}

.form-group:nth-of-type(2) {
    margin-bottom: 30px;
}

.form-group:nth-of-type(2) label {
    margin-right: 17px;
}

.form-group:nth-of-type(1) input,
.form-group:nth-of-type(2) input {
    font-size: 14px;
    line-height: 1.86;
    padding-left: 13px;
    padding-right: 39px;
    border: none;
    min-width: 346px;
    min-height: 38px;
}

.form-group:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 54px;
}

.form-group-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-group-inner:first-child label:last-of-type {
    margin-right: 41px;
}

.form-group-inner:last-child label:last-of-type {
    margin-right: 27px;
}

.form-group:nth-of-type(3) input,
.form-group:nth-of-type(3) button {
    width: 38px;
    height: 38px;
    padding: 0;
    border: none;
    text-align: center;
}

.form-group .adults-value {
    width: 40px;
}

.form-group:nth-of-type(3) button:hover path {
    fill: #000000;
}

.form-group:nth-of-type(3) button:active path {
    fill: #81b3d2;
}

.form-group input {
    color: #000000;
    font-size: 14px;
    line-height: 1.86;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f2f2f2;
}

.form-group .calendar {
    position: absolute;
    right: 64px;
}

.calendar:hover path {
    fill: #81b3d2;
}

.calendar:active path {
    fill: #000000;
}

.form-group input:hover {
    background-color: #ebebeb;
}

.form-group input:focus {
    background-color: #ffffff;
}

.popup>button {
    background-color: #81b3d2;
    color: #ffffff;
    min-height: 58px;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: center;
    border: none;
}

.popup>button:hover {
    background-color: #669ec0;
}

.popup>button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.form-group button {
    background-color: #f2f2f2;
    color: #979797;
}

.form-group button:hover {
    color: #000000;
}

.form-group button:active {
    color: #81b3d2;
}


/* карта поиска */

.map {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -123px;
}

.map iframe {
    z-index: 2;
}

.map p {
    position: absolute;
    z-index: -1;
    margin: 0;
}


/* стили футера */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.9;
    background-color: #ffffff;
    padding-left: 123px;
    padding-right: 101px;
}


/* контакты */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts a,
.contacts span {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    line-height: 1.24;
}

.contacts a:first-of-type {
    margin-bottom: 12px;
}

.contacts a:last-of-type {
    margin-top: -6px;
}


/* социальные сети */

.footer .socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 150px;
    list-style: none;
}

.socials .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    opacity: 0.3;
}


/* ссылка на академию */

.academy-button {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 14px;
    text-align: center;
    line-height: 1.86;
}

.academy-button span {
    padding-right: 8px;
}

.academy-button:hover,
.academy-button:hover path {
    color: #000000;
    fill: #81b3d2;
}

.academy-button:active,
.academy-button:active path {
    color: #000000;
    fill: #bdbbbc;
}


/* ---------------------------СТРАНИЦА КАТАЛОГА--------------------------- */


/* кнопка гостиницы в хедере */

.navigation .active {
    color: #766357;
}


/* стили сортировки в каталоге */

.sorting {
    display: flex;
    background-color: #ffffff;
    height: 86px;
    align-items: center;
}

.sorting .sorting-panel {
    display: flex;
    width: 517px;
}

.sorting-panel h3 {
    font-size: 21px;
    line-height: 1.24;
    margin: 0;
    max-height: 22px;
}

.sorting-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 239px;
    margin-right: 40px;
}

.sorting-panel-header span {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    max-height: 13px;
    align-self: center;
}

.sorting-panel-buttons {
    display: flex;
    width: 238px;
    justify-content: space-between;
    align-items: center;
}

.sorting-panel-buttons button {
    font-size: 12px;
    line-height: 1.5;
    height: 15px;
    text-align: left;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0;
}

.sorting button:nth-child(n+1):hover {
    color: #81b3d2;
}

.sorting button:nth-of-type(n):active {
    color: #000000;
}

.sorting button:first-of-type {
    color: #81b3d2;
}

.sorting-panel-buttons button:nth-of-type(n+2) {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dotted 1px #81b3d2;
}

.sorting-triangles {
    display: flex;
    margin-left: 504px;
    width: 33px;
    justify-content: space-between;
}

.sorting-triangles button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.sorting-triangles path:hover {
    fill: #000000;
}

.sorting-triangles path:active {
    fill: #81b3d2;
}


/* фильтр */

.section-filter {
    height: 217px;
    width: 1200px;
    background-image: url(../img/filter-background.jpg);
    background-size: 1200px 800px;
    background-position: 0 -288px;
}

.panel-hotel-filter {
    display: flex;
    justify-content: space-between;
    height: 217px;
}

.filter-range {
    width: 318px;
    margin-top: 28px;
    color: #ffffff;
}

.filter-range-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 9px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 36px;
    margin-bottom: 22px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 52px;
}

.price-controls label.min-price,
.price-controls label.max-price {
    width: 155px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -8px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background-color: #ffffff;
}


/* сетка отелей */

.hotels-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotels-item::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #e5e5e5;
    left: -72px;
    right: -73px;
    top: 0;
}

.hotels-item:last-child::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #e5e5e5;
    left: -72px;
    right: -73px;
    bottom: 0;
}

.hotels-item-description {
    display: flex;
    justify-content: flex-start;
}

.hotels-item img {
    margin-right: 30px;
}

.hotels-item-info {
    display: flex;
    flex-wrap: wrap;
    width: 258px;
}

.hotels-item-price {
    display: flex;
    min-width: 182px;
    justify-content: space-between;
    margin-bottom: 18px;
    max-height: 12px;
}

.hotels-item-price .type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hotels-item-price .cost {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hotels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* стили названий отелей в каталоге */

.hotels-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-top: 0;
}

.hotels-item-header>a {
    max-height: 16px;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
}

.hotels-item-header>a:hover {
    color: #81b3d2;
}

.hotels-item-header>a:active {
    color: rgba(0, 0, 0, 0.3);
}


/* стили типа размещения, цены и рейтинга */

.hotels-item-price span {
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}


/* стили ссылок "подробнее", "забронировать" в каталоге */

.hotels-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 258px;
}

.hotels-item-actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
    min-height: 27px;
    min-width: 110px;
}

.hotels-item-actions a:hover {
    background-color: #669ec0;
}

.hotels-item-actions a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotels-item-actions a+a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 142px;
    min-height: 27px;
    background-color: #766357;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
}

.hotels-item-actions a+a:hover {
    background-color: #604e43;
}

.hotels-item-actions a+a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}


/* стили рейтинга */

.hotel-item-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 27px;
    min-width: 110px;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.hotel-item-rating .rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 27px;
    background-color: #f2f2f2;
}

.hotel-item-rating .star {
    display: flex;
    flex-direction: row-reverse;
}

.star span::before {
    content: url(../img/star.svg);
    padding-left: 6px;
}


/* стили формы в каталоге */

.hotel-filter {
    display: flex;
}

.container-checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 31px;
    border: 0;
}

.container-checkbox:first-child {
    margin-right: 115px;
}

.container-checkbox,
.container-price,
.container-price button {
    color: #ffffff;
}

.container-checkbox span,
.container-price label {
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
    text-align: left;
}

.container-checkbox label,
.container-price span,
.container-price button {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    text-align: left;
}

.container-price span {
    text-align: center;
}

.container-price button {
    text-transform: uppercase;
    border: solid 2px #ffffff;
    background-color: transparent;
}

.container-checkbox legend {
    margin-bottom: 27px;
    font-weight: bold;
}


/* стилизация чекбоксов */

.check-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 112px;
}

.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
}

.check-box {
    position: absolute;
    width: 23px;
    height: 23px;
    margin-left: -40px;
    background-image: url(../img/checkbox-off.svg);
}

.check {
    padding-left: 40px;
}

.check-box:hover,
.check-input:focus+.check-box {
    outline: 5px auto #6ca0f9;
    -ms-outline: 5px solid #6ca0f9;
}

.check-input:checked+.check-box {
    background-image: url(../img/checkbox-on.svg);
    width: 27px;
}


/* состояние disabled для кнопок */

.check-input:disabled+.check-box path {
    background-image: url(../img/checkbox-off-3.svg);
    width: 23px;
}

.check-input:checked:disabled+.check-box {
    background-image: url(../img/checkbox-on-2.svg);
    width: 27px;
}