/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

body {
    background-color: #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    background-color: #ffffff;
}

.main-logo .container:first-child {
    background-color: #ffffff;
    background-image: url(../img/polygon.png), url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: 1203px 59px, 1200px 508px;
    background-position: center 451px, center top;
    text-align: center;
    width: 1200px;
    height: 648px;
}

.main-logo img {
    text-align: center;
    padding-top: 76px;
    padding-right: 371px;
    padding-left: 370px;
}

.main-logo .container:last-child {
    padding-top: 79px;
}

.main-logo h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: center;
}

.main-logo p {
    font-size: 14px;
    color: #333333;
    line-height: 1.86;
    text-align: center;
}

.grid-row:first-child,
.grid-row:nth-child(7) {
    background-color: #81b3d2;
}

.grid-row:first-child h3,
.grid-row:nth-child(7) h3 {
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.grid-row:first-child span,
.grid-row:nth-child(7) span {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}

.grid-row:nth-child(n+8) {
    background-color: #eeeeee;
    text-align: center;
}

.booking h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #000000;
}

.booking p {
    font-size: 14px;
    line-height: 1.71;
    color: #333333;
    text-align: center;
}

.booking>.container>button {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-transform: uppercase;
    font-style: "PT Sans";
}

.booking>.container>button:hover {
    background-color: #604e43;
}

.booking>.container>button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.form-group input {
    color: #000000;
    font-size: 14px;
    line-height: 1.86;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
}

.form-group input:hover {
    background-color: #ebebeb;
}

.form-group input:focus {
    background-color: #ffffff;
}

.popup>button {
    background-color: #81b3d2;
    color: #fff;
    text-transform: uppercase;
    font-style: "PT Sans";
    font-size: 21px;
    line-height: 1.24;
    text-align: center;
}

.popup>button:hover {
    background-color: #669ec0;
}

.popup>button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.form-group button {
    background-color: #f2f2f2;
    color: #979797;
}

.form-group button:hover {
    color: #000000;
}

.form-group button:active {
    color: #81b3d2;
}

footer>a:first-child {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 1.24;
}

footer>a:last-child {
    color: #000000;
    font-size: 14px;
    text-align: center;
    line-height: 1.86;
}

.sorting {
    background-color: #ffffff;
}

.sorting button {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

.sorting button:nth-child(n+1):hover {
    color: #81b3d2;
}

.sorting button:nth-of-type(n):active {
    color: #000000;
}

.sorting button:first-of-type {
    color: #81b3d2;
}

.sorting button:nth-of-type(n+2) {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dotted 1px #81b3d2;
}

.container .hotels {
    background-color: #ffffff;
}

.hotels-item button {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: left;
    border: none;
    background-color: transparent;
}

.hotels-item button:hover {
    color: #81b3d2;
}

.hotels-item button:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-item span {
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

.hotels-item a {
    background-color: #81b3d2;
    color: #ffffff;
    size: 14px;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
    padding: 8px 16px;
}

.hotels-item a:hover {
    background-color: #669ec0;
}

.hotels-item a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotels-item a+a {
    background-color: #766357;
}

.hotels-item a+a:hover {
    background-color: #604e43;
}

.hotels-item a+a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotels-item .rating {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding-top: 5px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
}

.hotel-filter {
    background-image: url(../img/filter-background.jpg);
    background-size: cover;
}

.container-checkbox,
.container-price,
.container-price button {
    color: #ffffff;
}

.container-checkbox span,
.container-price label {
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
    text-align: left;
}

.container-checkbox label,
.container-price span,
.container-price button {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    text-align: left;
}

.container-price span {
    text-align: center;
}

.container-price button {
    text-transform: uppercase;
    background-color: transparent;
    border: solid 2px #ffffff;
}
